<h1>Your order summary</h1>
{{> addons noDeleteBtn=true}}
<a href="/order/thanks" class="btn btn-big"><i class="fa-solid fa-cart-shopping"></i>Finish my order</a>
{{> cookie-preview}}
{{> go-home}}